/*
Color palette
very dark blue #020659
dark blue #020873
medium blue #030A8C
bright light blue #0D8DFB
brighter blue #2104D9
light blue #2699F8
maroon #590242
white #FFFFFF

font-family: verdana, geneva, tahoma, san-serif;
*/
/*_________________GLOBAL STYLES________________________*/
/*Main tag styles*/

html {
    background-color: #020659;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 375px;


}

main {
    background-color: white;
}

aside {
    background-color: white;

}

footer {
    background-color: white;
    text-align: center;
    color: #590242;
}

/*grid placement of nav and header*/
header {
    grid-row: 2;
}

nav {
    grid-row: 1;

}

/* button styles*/
.button {
    background-color: #590242;
    color: #FFFFFF;
    font-size: 12px;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;

}

.button:hover {
    background-color: #020659;
}

/*font-size*/
h1 {
    font-size: 1.85em;

}

h2,
h3 {
    font-size: 1em;
    text-transform: uppercase;
}

p,
dl,
dd {
    font-size: 1em;
}

footer p {
    font-size: .75em;
}

/*----header styles---*/
header {
    background-image: linear-gradient(to right, #2104d9, black);
    color: white;
    text-align: left;
    padding: 40px;
}

header h2 {
    font-size: 1.4em;
    color: #FFFFFF;
}


/*nav styles*/
nav {
    background: #020873;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

nav li {
    display: inline-flex;
    margin: 3px 25px;


}

nav a h1 {
    font-family: Comma Base Bold;
    text-decoration: none;

}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 5px;
}

#nav-button {
    display: none;
}

label {
    display: none;
}

nav a:hover {
    background-color: #590242;
}

/*scroll bar class styles*/

#trending .scroll {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 375px;
}

#trending .scroll section {
    margin: 10px;
    position: relative;
}

/*trending scrollbar + webkit styles*/
#trending .scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255, 255, 255, .75);
    padding: 5px;
    height: 50px;
    width: 350px;
}


#trending ::-webkit-scrollbar {
    width: 15px;
}

#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}

#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}

/*trending songs styles*/
dl {
    display: flex;

}

dt {
    position: absolute;
    padding-right: 5px;
    bottom: 5px;
    font-style: italic;
}

dd {
    position: absolute;
    padding-left: 15px;
    bottom: 5px;
}

h2 {
    color: #590242;
    padding: 10px;
}

#trending h3 {
    position: absolute;
    bottom: 15px;
    color: #590242;

}

audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}

audio::-webkit-media-controls-ply-button {
    background-color: #FFFFFF;
    border-radius: 50px;
}

audio::webkit-media-controls-enclosure {
    background-color: rgba 255, 255, 255, rgba(255, 255, 255, .75);
}

/*---Your Playlist--*/
#playlists {
    color: white;
}

#playlists .scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: auto;
    width: 375px;
}

#playlists .scroll section {
    margin: 0px;
    background-color: #0D8DFB;
    border: 20px solid #2699F8;
    position: relative;
}

/*--Curated Styles--*/
#curated {
    color: white;
}


#curated .scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: auto;
    width: 375px;
}

#curated .scroll section {
    margin: 0px;
    background-color: #020873;
    border: 20px solid #030a8c;
    position: relative;
}

/*-- Yor Playlist and Curated  webkit Styles--*/

#playlists ::-webkit-scrollbar,
#curated ::-webkit-scrollbar {
    width: 15px;
}

#playlists ::-webkit-scrollbar-track,
#curated ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #020659;
}

#playlists ::-webkit-scrollbar-thumb,
#curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}

#playlists ::-webkit-scrollbar-thumb:hover,
#curated ::-webkit-scrollbar-thumb:hover {
    background: white;
}

/*Media Query for large screen*/
@media (min-width: 850px) {

    body {
        width: 834px;
    }

    #trending .scroll {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        width: 834px;
    }


    /*grid change for large screen for Your Playlists and Curated Playlists*/
    aside {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #playlists .scroll {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
        overflow-x: auto;
        overflow-y: scroll;
        height: 500px;
        width: 417px;


    }

    #playlists .scroll img {
        float: left;
    }

    #playlists .scroll p,
    h3 {
        text-align: center;
    }

    #curated .scroll {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
        overflow-x: auto;
        overflow-y: scroll;
        height: 500px;
        width: 417px;



    }

    #curated .scroll img {
        float: left;
    }

    #curated .scroll p {
        text-align: center;
    }

    .button {
        float: right;
    }
}

/*could not get the hamburger nav to work in opposite screen direction*/
/*nav styles small screen for hamburger menu @media only screen and (max-width: 700px) and (orientation: portrait) {

    nav {
        align-items: center;
    }

    nav ul {
        position: absolute;
        top: 34px;
        width: 100%;
        background: #2699F8;
        height: 0;
        overflow: hidden;
        transition: height 1s;
    }

    nav li {
        display: block;
        width: 100%;
        padding: 5px;
    }

    label {
        display: block;
        padding: 0px 10px;
        font-size: 30px;
        cursor: pointer;
        color: #0D8DFB;
    }

    label:hover {
        color: white;
    }

    nav a {
        width: 100%;
        display: block;
    }

    #nav-button:checked~ul {
        height: 340px;
        transition: height 1s;
        z-index: 1;
    }

    nav li:hover {
        background: #590242;
    }
}*/